* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chillax", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--color-bg);
  background-image:
    radial-gradient(at 2% 57%, var(--bg-gr1) 0px, transparent 50%),
    radial-gradient(at 53% 1%, var(--bg-gr2) 0px, transparent 50%),
    radial-gradient(at 98% 88%, var(--bg-gr1) 0px, transparent 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: QG;
  src: url(../assets/fonts/QG.ttf);
}
@font-face {
  font-family: Chillax;
  src: url(../assets/fonts/Chillax-Variable.ttf);
}
:root {
  --color-acc-50: #edf0ff;
  --color-acc-100: #dee5ff;
  --color-acc-200: #c4ceff;
  --color-acc-300: #a0aeff;
  --color-acc-400: #737bff;
  --color-acc-500: #5e5bf9;
  --color-acc-600: #4d3dee;
  --color-acc-700: #422fd3;
  --color-acc-800: #3629aa;
  --color-acc-900: #2f2986;
  --color-acc-950: #1e184e;
}
.light-mode {
  --color-bg: hsl(0, 0%, 93%);
  --color-sec: hsl(0, 0%, 87%);
  --color-text: hsl(0, 0%, 5%);
  --color-text-fade: hsl(0, 0%, 27%);
  --bg-gr1: hsla(231, 100%, 81%, 1);
  --bg-gr2: hsla(230, 100%, 88%, 1);
}
.dark-mode {
  --color-bg: hsl(0, 0%, 7%);
  --color-sec: hsl(0, 0%, 13%);
  --color-text: hsl(0, 0%, 95%);
  --color-text-fade: hsl(0, 0%, 77%);
  --bg-gr1:hsla(246, 61%, 41%, 0.2);
  --bg-gr2:hsla(247, 65%, 51%, 0.2);
}


.qg {
  font-family: "QG", sans-serif;
}

.container {
  width: min(95%, 1500px);
  margin: 0 auto;
}

#header a {
  text-decoration: none;
  color: var(--color-text);
}

.logo a {
  font-family: "QG", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

#header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#header.hide {
  transform: translateY(-100%);
}
#header .logo,
#header .nav-btn-container {
  width: 180px;
}
#header .nav-btn-container {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  gap: 20px;
}

#nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  position: relative;
  font-size: 1rem;
}
.nav-links a {
  position: relative;
}
.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 6px;
  height: 6px;
  background-color: var(--color-acc-500);
  border-radius: 50%;
  opacity: 1;
}

.nav-btn {
  background-color: var(--color-acc-500);
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 50px;
  color: var(--color-acc-50) !important;
  transition: all 0.2s ease-in-out;
}
.nav-btn:hover {
  background-color: var(--color-acc-600);
}
.nav-btn:active {
  background-color: var(--color-acc-700);
}
/* Theme Toggle Button */
.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-sec);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.theme:hover img {
  width: 28px;
  height: 28px;
}
.theme:active img {
  width: 32px;
  height: 32px;
}

/* Theme Button Icons */
.theme img {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.mark {
  color: var(--color-acc-500);
}


/* Hero Section Styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 80px 0;
}

.hero-content {
  max-width: 800px;
}

.hero-headline {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -2px;
  color: var(--color-text-fade);
  margin-bottom: 20px;
}

.hero-tagline {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 70px;
  color: var(--color-text);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.btn-primary {
  background: var(--color-acc-500);
  color: var(--color-acc-50);
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--color-acc-700);
}
.btn-primary:active {
  background-color: var(--color-acc-800);
}

.btn-secondary {
  background: transparent;
  border: 2px solid var(--color-acc-500);
  color: var(--color-acc-500);
  transition: all 0.2s ease-in-out;
}
.btn-secondary:hover {
  border: 2px solid var(--color-acc-600);
  color: var(--color-acc-600);
}
.btn-secondary:active {
  border: 2px solid var(--color-acc-800);
  color: var(--color-acc-800);
}


